body    {         
        background: url("../assets/images/1.JPG")no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-attachment: fixed;   
        position:relative;
        }

.slova  {
        font-family: Rokkitt;
        font-style: normal;
        font-weight: 500;
        font-size: 85px;
        margin-top: 15%;
        line-height:20%;
        text-indent: 150px;
        color: #fff;
        }

.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: url(images/2.png);
        display:flex;
        background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
        }

.fwords {
        text-indent:80px;
        }
a
        {
        color: #ffffff;
        text-decoration: none;
        }
/* Кнопка */
.btn {
     position: absolute;
     width: 250px;
     height: 45px;
     left: 152px;
     margin-top:2%;
     color: black;
     background: linear-gradient(180deg, #E1CD1B 0%, #33FF00 100%);
     border-radius: 25px;
  text-align:center;
    font-weight: bold;
font-size: 17px;
    outline:inherit;
        cursor:pointer;
     }
